@font-face {
    font-family: 'Catamaran';
    src: url('Medium/Catamaran-Medium.woff2') format('woff2'),
        url('Medium/Catamaran-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Catamaran';
    src: url('SemiBold/Catamaran-SemiBold.woff2') format('woff2'),
        url('SemiBold/Catamaran-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Catamaran';
    src: url('Thin/Catamaran-Thin.woff2') format('woff2'),
        url('Thin/Catamaran-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Catamaran';
    src: url('Black/Catamaran-Black.woff2') format('woff2'),
        url('Black/Catamaran-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Catamaran';
    src: url('ExtraLight/Catamaran-ExtraLight.woff2') format('woff2'),
        url('ExtraLight/Catamaran-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Catamaran';
    src: url('Regular/Catamaran-Regular.woff2') format('woff2'),
        url('Regular/Catamaran-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Catamaran';
    src: url('Light/Catamaran-Light.woff2') format('woff2'),
        url('Light/Catamaran-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Catamaran';
    src: url('ExtraBold/Catamaran-ExtraBold.woff2') format('woff2'),
        url('ExtraBold/Catamaran-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Catamaran';
    src: url('Bold/Catamaran-Bold.woff2') format('woff2'),
        url('Bold/Catamaran-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}