<div class="center">
  <div class="row cardTop">
    <div class="card card-stack">
      <div class="card-body">
        <h1 [ngStyle]="setPageTheme()">Current Overall Grade</h1>
        <h2 [ngStyle]="setPageTheme()">
          {{ fullStudent.lastName }}, {{ fullStudent.firstName }}
        </h2>
        <circle-progress
          [percent]="overallPercentage"
          [maxPercent]="100"
          [toFixed]="1"
          [showTitle]="true"
          [showSubtitle]="false"
          [showUnits]="true"
          [showBackground]="true"
          [showInnerStroke]="true"
          [clockwise]="true"
          [startFromZero]="true"
          [radius]="90"
          [backgroundPadding]="5"
          [outerStrokeColor]="progressColor"
          [innerStrokeColor]="progressColorLight"
          [backgroundColor]="'transparent'"
          [outerStrokeLinecap]="'round'"
          [outerStrokeWidth]="8"
          [space]="4"
          [innerStrokeWidth]="4"
          [titleFontSize]="30"
          [unitsFontSize]="20"
          [animation]="true"
          [animateTitle]="true"
          [animationDuration]="500"
          [units]="'%'"
          id="circle"
        ></circle-progress>
      </div>
    </div>
  </div>
  <br />

  <div class="row chartCard">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="card charts">
        <div class="card-body">
          <canvas
            baseChart
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"
            [plugins]="lineChartPlugins"
            id="lineChart"
          >
          </canvas>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="card">
        <div class="card-body">
          <canvas
            mdbChart
            [chartType]="chartType"
            [datasets]="chartDatasets"
            [labels]="chartLabels"
            [colors]="chartColors"
            [options]="chartOptions"
            [legend]="true"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"
            id="barChart"
          >
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div style="display: block">
  <canvas
    mdbChart
    [chartType]="chartType"
    [datasets]="chartDatasets"
    [labels]="chartLabels"
    [colors]="chartColors"
    [options]="chartOptions"
    [legend]="true"
    (chartHover)="chartHovered($event)"
    (chartClick)="chartClicked($event)"
  >
  </canvas>
</div> -->
